.search-container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto 20px auto; 
  display: flex; 
  justify-content: center; 
}

.search-bar {
  width: 100%;
  padding: 12px 15px;
  border: 2px solid #31026e;
  border-radius: 5px;
  font-size: 1.2em;
  font-family: 'Cinzel', serif;
  background-color: rgba(16, 6, 53, 0.9);
  color: #ffd700;
  outline: none;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  text-align: center; 
}

.search-bar:focus,
.search-bar:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  transform: scale(1.02);
}

.characters-page {
  background-size: cover; 
  background-position: center; 
  background-repeat: no-repeat; 
  background-attachment: fixed;
  min-height: 100vh; 
  margin: 0;
  padding: 0;
}

.backround-default {
  background-image: url('/castle-of-hogwarts.jpg');
}

.background-gryffindor {
  background-image: url('/gryffindor.png');
}

.background-slytherin {
  background-image: url('/slytherin.png');
}

.background-hufflepuff {
  background-image: url('/hufflepuff.png');
}

.background-ravenclaw {
  background-image: url('/ravenclaw.png');
}
