.homepage {
  display: flex; 
  flex-direction: column; 
  justify-content: center;
  align-items: center; 
  height: 100vh; 
  text-align: center; 
  background-size: cover;
  background-position: center;
  background-image: url('/castle-of-hogwarts.jpg');
  color: #ffd700;
}

.homepage h1 {
  font-size: 3em; 
  margin-bottom: 10px; 
  font-family: 'Cinzel', serif;
}

.homepage p {
  font-size: 1.5em;
  margin-top: 0; 
  font-family: 'Cinzel', serif; 
}
