.character-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); 
  gap: 20px; 
  padding: 20px;
}

.character-card-default {
  background-color: rgba(16, 6, 53, 0.9);
}

.character-card-gryffindor {
  background-color: rgba(184, 70, 70, 0.8); 
  border: 2px solid #ff5733;
}

.character-card-slytherin {
  background-color: rgba(38, 156, 38, 0.8);
  border: 2px solid #39d139;
}

.character-card-hufflepuff {
  background-color: rgba(255, 223, 0, 0.8); 
  border: 2px solid #ffd700;
}

.character-card-ravenclaw {
  background-color: rgba(0, 102, 204, 0.8);
  border: 2px solid #1e90ff;
}

.character-card {
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  padding: 15px;
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
  width: 200px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.character-card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.4);
}

.character-card h2 {
  font-family: 'Cinzel', serif;
  font-size: 1.2em;
  color: #05abec; 
  margin: 10px 0;
  height: 3em; 
  overflow: hidden; 
  text-overflow: ellipsis; 
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.character-image {
  max-width: 100%; 
  height: 200px; 
  object-fit: cover; 
  border-radius: 8px;
  margin: 10px 0;
}

